<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Default POILogger class defined in the assembly
    if it is not set, NPOI.Util.NullLogger will be used
    -->
		<add key="loggername" value="TestCases.Util.DummyPOILogger,NPOI.TestCases"/>
		<add key="HSSF.testdata.path" value="..\..\..\..\TestCases\test-data\hssf"/>
		<add key="POIFS.testdata.path" value="..\..\..\..\..\TestCases\test-data\poifs"/>
		<add key="POI.testdata.path" value="..\..\..\..\testcases\test-data"/>
		<add key="java.io.tmpdir" value="..\..\..\..\TestCases\test-data\"/>
		<add key="poi.keep.tmp.files" value="..\..\..\..\TestCases\test-data\"/>
		<add key="font.metrics.filename" value="..\..\..\..\TestCases\test-data\font_metrics.properties"/>
		<add key="escher.data.path" value="..\..\..\..\TestCases\test-data\ddf\"/>
		<add key="org.apache.poi.hwpf.preserveBinTables" value="true"/>
		<add key="org.apache.poi.hwpf.preserveTextTable" value="true"/>
	</appSettings>
	<startup/></configuration>
