<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="J2CS" type="JavaToCSharp.Configuration.J2CSSection,JavaToCSharp" />
  </configSections>
  <J2CS>
    <Rules>
      <add name="Array.Copy" pattern="System\.arraycopy" replacement="Array.Copy"/>
      <add name="toByteArray" pattern="toByteArray" replacement="ToArray"/>
      <add name="longBitsToDouble" pattern="Double\.longBitsToDouble" replacement="BitConverter.Int64BitsToDouble"/>
      <add name="ByteArrayInputStream" pattern="ByteArrayInputStream|ByteArrayOutputStream" replacement="MemoryStream"/>
      <add name="Character.isLetter" pattern="Character.isLetter" replacement="Character\.isLetter"/>
      <add name="GetClass" pattern="GetClass\(\)\.GetName\(\)" replacement="GetType().Name"/>
	  <add name=".getClass" pattern="\.getClass\(\)" replacement=".GetType()"/>
      <add name="System.SetProperty()" pattern="System\.SetProperty" replacement="Environment.SetEnvironmentVariable"/>
      <add name="System.GetProperty()" pattern="System\.GetProperty" replacement="GetEnvironmentVariable"/>
      <add name="toUpperCase" pattern="toUpperCase" replacement="toUpper"/>
      <add name="toLowerCase" pattern="toLowerCase" replacement="toLower"/>
      <add name="StringBuffer" pattern="StringBuffer" replacement="StringBuilder"/>
      <add name="System.out.println" pattern="System\.out\.println" replacement="Console.WriteLine"/>
      <add name="line.separator" pattern="System\.GetProperty\(&quot;line.separator&quot;\)" replacement="Console.WriteLine"/>
      <add name="implements or extends" pattern="\simplements\s|\sextends\s" replacement=" : "/>
      <add name="package" pattern="package\s" replacement="namespace "/>
      <add name="import" pattern="import\s" replacement="using "/>
      <add name="instanceof" pattern="instanceof" replacement="is"/>
      <add name="boolean" pattern="boolean" replacement="bool"/>
      <add name="MIN_VALUE" pattern="MIN_VALUE" replacement="MinValue"/>
      <add name="MAX_VALUE" pattern="MAX_VALUE" replacement="MaxValue"/>
      <add name="Short" pattern="Short" replacement="short"/>
      <add name="Double.ParseDouble" pattern="Double\.ParseDouble" replacement="Double.Parse"/>
      <add name="Character.isDigit" pattern="Character.isDigit" replacement="Char.IsDigit"/>
      <add name="length()" pattern="\.length(\(\))?" replacement=".Length"/>
      <add name="Double.isInfinite" pattern="Double\.isInfinite" replacement="Double.IsInfinity"/>
      <add name="Character.isWhitespace" pattern="Character\.isWhitespace" replacement="Char.IsWhiteSpace"/>
      <add name="Integer." pattern="Integer\." replacement="Int32."/>
      <add name=".size()" pattern="\.size\(\)" replacement=".Count"/>
      <add name="assertEquals" pattern="assertEquals" replacement="Assert.AreEqual"/>
      <add name="assertTrue" pattern="assertTrue" replacement="Assert.IsTrue"/>
      <add name="assertFalse" pattern="assertFalse" replacement="Assert.IsFalse"/>
	  <add name="assertSame" pattern="assertSame" replacement="Assert.AreSame"/>
	  <add name="assertNotNull" pattern="assertNotNull" replacement="Assert.IsNotNull"/>	  
      <add name=".getStart()" pattern="\.getStart\(\)" replacement=".Start"/>
      <add name=".getEnd()" pattern="\.getEnd\(\)" replacement=".End"/>
      <add name=".subList" pattern="\.subList" replacement=".GetRange"/>
      <add name="super" pattern="super\(" replacement="base("/>	  
      <add name="namespace org.apache.poi" pattern="namespace org\.apache\.poi;" replacement="namespace NPOI{"/>	 
	  <add name="'is' prefix" pattern="bool\sis" replacement="bool Is"/>	 
  	  <add name="'has' prefix" pattern="bool\shas" replacement="bool Has"/>	   
  	  <add name=".has" pattern="\.has" replacement=".Has"/>	   
  	  <add name=".open" pattern="\.open" replacement=".Open"/>	   
  	  <add name="HashMap" pattern="HashMap&lt;" replacement="Dictionary&lt;"/>
	  <add name="Map" pattern="Map&lt;" replacement="Dictionary&lt;"/>
 	  <add name="IllegalArgumentException" pattern="IllegalArgumentException" replacement="ArgumentException"/>
   	  <add name="IllegalStateException" pattern="IllegalStateException" replacement="InvalidOperationException"/>	  
   	  <add name="GetPackage()" pattern="GetPackage\(\)" replacement="Package"/>	  	  
	  <add name=".commit" pattern="\.commit" replacement="\.Commit"/>
	  <add name=" commit" pattern="\scommit" replacement=" Commit"/>	  
  	  <add name="@Override" pattern="@Override" replacement=""/>
	  <add name="@Internal" pattern="@Internal" replacement=""/>
   	  <add name=".is" pattern="\.is" replacement=".Is"/>
   	  <add name=".close" pattern="\.close" replacement=".Close"/>
	  <add name="Integer" pattern="Integer" replacement="int"/>
  	  <add name=" put" pattern="\sput" replacement=" Put"/>
   	  <add name=".put" pattern="\.put" replacement=".Put"/>
   	  <add name="toArray" pattern="toArray" replacement="ToArray"/>
   	  <add name="ArrayList&lt;" pattern="ArrayList&lt;" replacement="List&lt;"/>
   	  <add name=" get" pattern="\sget" replacement=" Get"/>
	  <add name=".get" pattern="\.get" replacement=".Get"/>	  
	  <add name=".set" pattern="\.set" replacement=".Set"/>
   	  <add name=" set" pattern="\sset" replacement=" Set"/>
	  <add name=" draw" pattern="\sdraw" replacement=" Draw"/>
	  <add name=".draw" pattern="\.draw" replacement=".Draw"/>
  	  <add name=" move" pattern="\smove" replacement=" Move"/>
  	  <add name=".move" pattern="\.move" replacement=".Move"/>	   
	  <add name=" after" pattern="\safter" replacement=" After"/>	   
   	  <add name=".after" pattern="\.after" replacement=".After"/>	   
	  <add name=" reset" pattern="\sreset" replacement=" Reset"/>	   
   	  <add name=".reset" pattern="\.reset" replacement=".Reset"/>	   
	  <add name=" skip" pattern="\sskip" replacement=" Skip"/>	   
   	  <add name=".skip" pattern="\.skip" replacement=".Skip"/>	   																	  
  	  <add name="out." pattern="^out\." replacement="out1."/>	   
   	  <add name="Readshort" pattern="Readshort" replacement="ReadShort"/>	   
      <add name=".to" pattern="\.to" replacement=".To"/>
      <add name="/**/" pattern="/\*\*/" replacement=""/>
      <add name="override ToString()" pattern="public String ToString\(\)" replacement="public override String ToString()"/>
      <add name="override Equals()" pattern="public bool Equals\(" replacement="public override bool Equals("/>
	  <add name="override hashCode()" pattern="public int hashCode\(\)" replacement="public override int GetHashCode()"/>
	  <add name="isEmpty()" pattern="isEmpty\(\)" replacement="IsEmpty"/>
  	  <add name=" test" pattern="\stest" replacement=" Test"/>
   	  <add name=": TestCase" pattern="\:\sTestCase" replacement=""/>
   	  <add name="fail(" pattern="fail\(" replacement="Assert.Fail("/>
   	  <add name="assertNull" pattern="assertNull" replacement="Assert.IsNull"/>
   	  <add name=".revert" pattern="\.revert" replacement="\.Revert"/>
      <add name=".endsWith" pattern="\.endsWith" replacement="\.EndsWith"/>
	  <!--NPOI specific-->
	  <add name=".hslf" pattern="\.hslf" replacement=".HSLF"/>
	  <add name=".xssf" pattern="\.xssf" replacement=".XSSF"/>
      <add name=".model" pattern="\.model" replacement=".Model"/>
      <add name=".poifs" pattern="\.poifs" replacement=".POIFS"/>
	  <add name=".usermodel" pattern="\.usermodel" replacement=".UserModel"/>
      <add name=".filesystem" pattern="\.filesystem" replacement=".FileSystem"/>
      <add name="org.apache.poi." pattern="org\.apache\.poi\." replacement="NPOI."/>
	  <add name=".hslf" pattern="\.hslf" replacement=".HSLF"/>
    </Rules>
  </J2CS>
</configuration>
