<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="ooxml.Testcases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
   </configSections>
   <appSettings>
      <add key="POI.testdata.path" value="..\..\..\..\test-data"/>
   </appSettings>
   <userSettings>
      <ooxml.Testcases.Properties.Settings>
         <setting name="TEST_PROPERTY" serializeAs="String">
            <value>..\..\..\..\test-data</value>
         </setting>
      </ooxml.Testcases.Properties.Settings>
   </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
