<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="POI.testdata.path" value="..\..\..\..\..\testcases\test-data"/>
   </appSettings>
   <system.diagnostics>
      <switches>
         <!-- Store the Source file of the [De-]Serialization process accessible for Debugging. -->
         <add name="XmlSerialization.Compilation" value="4" />
      </switches>
   </system.diagnostics>
</configuration>
