<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TestCases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Default POILogger class defined in the assembly
    if it is not set, NPOI.Util.NullLogger will be used
    -->
    <add key="loggername" value="TestCases.Util.DummyPOILogger,NPOI.TestCases"/>
    <add key="HSSF.testdata.path" value="..\..\..\TestCases\test-data\hssf"/>
    <add key="POIFS.testdata.path" value="..\..\..\TestCases\test-data\poifs"/>
    <add key="POI.testdata.path" value="..\..\..\TestCases\test-data"/>
    <add key="java.io.tmpdir" value="..\..\..\TestCases\test-data\"/>
    <add key="poi.keep.tmp.files" value="..\..\..\TestCases\test-data\"/>
    <add key="escher.data.path" value="..\..\..\TestCases\test-data\ddf\"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
    <TestCases.Properties.Settings>
      <setting name="TEST_PROPERTY" serializeAs="String">
        <value>..\..\..\test-data</value>
      </setting>
    </TestCases.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
